################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestProj/v15
/packages
/TestProj/bin/Debug
/TestProj/obj/Debug
/_ReSharper.Caches/ReSharperPlatformVs15183_fb25e717.TestProj.00
